 .button {
    padding: 18px 36px;
    font-size: 18px;
    font-family: "Raleway";
    background-color: inherit;
    color: inherit;
    outline: none;
    border: 1px solid #ffffff80;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 20px;
 }